.field {
    color: black;
    font-size: 12pt;

    .field-name {
        font-weight: bold;
        display: inline-block;
        width: 210px;
    }
}

.buttons-container {
    justify-content: end;
}