<div class="container">
    <div class="container-head">
        <h2>Кредитные планы</h2>

        <button mat-button mat-raised-button (click)="createPlan()">
            Создать
        </button>
    </div>

    <table
        [dataSource]="plans.get()"
        mat-table
        matSort
        (matSortChange)="plans.sort($event)"
    >
        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Название</th>
            <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="interest">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Проценты</th>
            <td *matCellDef="let element" mat-cell>
                {{ element.interest * 100 | number: '1.00' }} %
            </td>
        </ng-container>

        <ng-container matColumnDef="currency">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Валюта</th>
            <td *matCellDef="let element" mat-cell>
                {{ element.currency.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="period">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
                Срок (в днях)
            </th>
            <td *matCellDef="let element" mat-cell>
                {{ element.period }}
            </td>
        </ng-container>

        <ng-container matColumnDef="isAnnuity">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Тип</th>
            <td *matCellDef="let element" mat-cell>
                {{ element.isAnnuity ? 'Аннуитетным' : 'Дифференцированный' }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let client; columns: displayedColumns"></tr>
    </table>
</div>
