<div class="column-flex equal-width">
    @if (loading() > 0) {
        <mat-spinner></mat-spinner>
    } @else {
        <h2>Введите номер телефона:</h2>
        <form [formGroup]="formGroup" class="column-flex equal-width">
            <mat-form-field>
                <input
                    matInput
                    type="tel"
                    [formControl]="formGroup.controls.phoneNumber"
                />
                <mat-label>Номер телефона</mat-label>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Оператор</mat-label>
                <mat-select [formControl]="formGroup.controls.operator">
                    <mat-option value="MTS">MTS</mat-option>
                    <mat-option value="A1">A1</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Сумма (в {{ currency }})</mat-label>
                <input matInput [formControl]="formGroup.controls.amount" />
            </mat-form-field>
        </form>

        @if (error) {
            <div class="center auto-width">
                <span class="error">{{ error }}</span>
            </div>
        }

        <button
            mat-button
            mat-raised-button
            color="primary"
            [disabled]="formGroup.invalid || error !== ''"
            (click)="action()"
        >
            Пополнить
        </button>

        <button mat-button mat-raised-button color="warn" (click)="exit()">
            Вернуться
        </button>
    }
</div>
