<div class="container">
    <div class="container-head">
        <h2>Транзакции</h2>
    </div>

    <table [dataSource]="transactions" mat-table>
        <ng-container matColumnDef="source">
            <th *matHeaderCellDef mat-header-cell>Отправитель</th>
            <td *matCellDef="let element" mat-cell>
                @if (element.source) {
                    <div
                        [class.main-account]="
                            element.source.typeOfAccount === TypeOfAccount.Main
                        "
                        [class.cash-account]="
                            element.source.typeOfAccount === TypeOfAccount.Cash
                        "
                        [class.mobile-account]="
                            isMobileOperator(element.source)
                        "
                    >
                        {{ element.source.typeOfAccount }}
                        {{ element.source.ibanNumber }}
                        <br />
                        @if (
                            element.source.depositContract ||
                            element.source.creditContract
                        ) {
                            {{
                                getClientFullName(
                                    (
                                        element.source.depositContract ||
                                        element.source.creditContract
                                    ).client
                                )
                            }}
                        }
                    </div>
                } @else {
                    НАЛИЧНЫЕ
                }
            </td>
        </ng-container>

        <ng-container matColumnDef="arrow">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let element" mat-cell>
                <mat-icon aria-hidden="false" aria-label="Example home icon">
                    double_arrow
                </mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="target">
            <th *matHeaderCellDef mat-header-cell>Получатель</th>
            <td *matCellDef="let element" mat-cell>
                @if (element.target) {
                    <div
                        [class.main-account]="
                            element.target.typeOfAccount === TypeOfAccount.Main
                        "
                        [class.cash-account]="
                            element.target.typeOfAccount === TypeOfAccount.Cash
                        "
                        [class.mobile-account]="
                            isMobileOperator(element.target)
                        "
                    >
                        {{ element.target.typeOfAccount }}
                        {{ element.target.ibanNumber }}
                        <br />
                        @if (
                            element.target.depositContract ||
                            element.target.creditContract
                        ) {
                            {{
                                getClientFullName(
                                    (
                                        element.target.depositContract ||
                                        element.target.creditContract
                                    ).client
                                )
                            }}
                        }
                    </div>
                } @else {
                    НАЛИЧНЫЕ
                }
            </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th *matHeaderCellDef mat-header-cell>Сумма</th>
            <td *matCellDef="let element" mat-cell>
                {{ element.amount | number: '1.0-2' }} BYN
            </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th *matHeaderCellDef mat-header-cell>Дата</th>
            <td *matCellDef="let element" mat-cell>
                {{ element.date | date: 'dd.MM.yyyy HH:mm:ss.SSS' }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
    </table>
</div>
